@model Tarea

<div  class="row p-5 mb-4 " id="formularioContainerEditar">
    <form method="post"asp-action="Editar">
        <div class=" col-auto bg-primary text-light">
            <h3 class="text-center">Editar Tarea</h3>
        </div>
        <div class="row gap-3 justify-content-center">
            <div class="col-6">
                <label for="tituloTarea" class="form-label m-2">Titulo de la Tarea</label>
                <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre" id="tituloTarea"/>
            </div>

            <div class="col-6">
                <label for="descripcionTarea" class="form-label m-2">Descripcion de la Tarea</label>
                <textarea asp-for="Descripcion" class="form-control" placeholder="Descricion" id="descripcionTarea" style="height: 100px"></textarea>

            </div>

            <div class="col-6">
                <label for="fechaTarea" class="form-label m-2">Fecha de la Tarea</label>
                <input asp-for="FechaVencimiento" type="date" class="form-control" id="fechaTarea"/>
            </div>
            <div class="col-6 d-flex justify-content-center gap-2 ">
                <button type="submit"  class=" btn btn-primary d-block">Editar</button>
                <a href="/" class="btn btn-danger d-block">Cancelar</a>
            </div>
            

        </div>
    </form>
</div>
